<!DOCTYPE html>
<html>
<head>
<title>Beat My Score</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<style>

body{
 background:#111;
 color:white;
 text-align:center;
 font-family:arial;
 overscroll-behavior:none;
}

*{
 touch-action:manipulation;
 user-select:none;
}

#tap{
 font-size:30px;
 padding:30px 60px;
 border-radius:15px;
 border:none;
 background:white;
 margin-top:20px;
}

</style>
</head>

<body>

<h1>🔥 Beat My Score 🔥</h1>

<input id="name" placeholder="Enter Name">

<h2>Time: <span id="time">5</span></h2>
<h2>Score: <span id="score">0</span></h2>

<button id="tap" ontouchstart="tap()">TAP!</button>

<br><br>

<button onclick="replay()">Replay</button>

<h2>🏆 Leaderboard</h2>

<ul>
{% for p in leaderboard %}
<li>👤 {{p[0]}} — 🔥 {{p[1]}}</li>
{% endfor %}
</ul>

<script>

let score=0;
let time=5;
let started=false;

// remember name
window.onload=function(){
 if(localStorage.getItem("player")){
   document.getElementById("name").value=localStorage.getItem("player");
 }
}

function tap(){

 if(name.value==""){
   alert("Enter name!");
   return;
 }

 localStorage.setItem("player",name.value);

 if(!started){
   started=true;
   timer();
 }

 score++;
 document.getElementById("score").innerText=score;
}

function timer(){
 let t=setInterval(()=>{
   time--;
   document.getElementById("time").innerText=time;

   if(time==0){
     clearInterval(t);
     endGame();
   }
 },1000);
}

function endGame(){

 fetch("/submit",{
  method:"POST",
  headers:{'Content-Type':'application/x-www-form-urlencoded'},
  body:`name=${name.value}&score=${score}`
 });

 alert(name.value+" scored "+score);

 location.reload();
}

function replay(){

 fetch("/reset_player",{
  method:"POST",
  headers:{'Content-Type':'application/x-www-form-urlencoded'},
  body:`name=${name.value}`
 });

 score=0;
 time=5;
 started=false;

 document.getElementById("score").innerText=0;
 document.getElementById("time").innerText=5;

 alert("Previous score cleared. Play again!");
}

</script>

</body>
</html>
